# Go
server/data/*.db
server/data/*.db-journal
server/data/
server/bin/
server/.env
.idea/*

# macOS
mac/build/
mac/DerivedData/
mac/*.xcodeproj/xcuserdata/
mac/*.xcworkspace/xcuserdata/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.idea/
*.swp
.DS_Store
