# Go
server/data/*.db
server/data/*.db-journal
server/data/
server/bin/
server/.env
.idea/*

# macOS
mac/build/
mac/DerivedData/
mac/*.xcodeproj/xcuserdata/
mac/*.xcworkspace/xcuserdata/
*.swp
.DS_Store